* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f1f1f1;
}

.app-bar {
    height: 60px;
    background-color: orange;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}

.app-bar i {
    color: white;
}

.app-logo {
    flex: 2;
    text-align: center;
}

.app-bar img {
    width: 35px;
}

main {
    padding: 20px;
}

main h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item-card {
    width: 200px;
    overflow: hidden;
    position: relative;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin: 5px;
}

.item-card .item-image {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}

.item-card .card-content {
    position: relative;
    padding: 10px;
}

.item-card .card-content a {
    text-decoration: none;
}

.item-card .card-content h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.item-card .card-content .item-price {
    font-size: 20px;
}

.item-card .card-content .less-price {
    font-size: 14px;
}

.item-raiting {
    color: gold;
    margin-bottom: 10px;
    display: flex;
}

.item-card .card-content .item-option {
    display: flex;
}

.option-detail {
    flex: 2;
    background-color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 20px;
    color: #333;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.icon-option {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    padding: 10px;
    border-radius: 100%;
    margin-left: 5px;
}

/* Details page */
.header-details {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.header-details img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.header-details .option-details {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-details .option-details .right-option {
    display: flex;
}

.header-details .option-details a {
    text-decoration: none;
    color: black;
}

.main-details {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    position: absolute;
    top: 230px;
}

.main-details .item-raiting p {
    color: #33333392;
    font-size: 14px;
    margin-left: 5px;
}

.info-details .description-details {
    text-align: justify;
    font-size: 14px;
}

.info-details .galery-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.info-details .galery-details .galery-image {
    flex: 1;
    margin: 5px;
}

.info-details .galery-details .galery-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.445);
}

.info-details .buy-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-details .buy-item .price-item {
    font-size: 18px;
}

.info-details .buy-item .option-detail {
    background-color: orange;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

/* lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.733);
    padding: 2em;
    text-decoration: none;
    color: white;
}

.lightbox:target {
    display: block;
}

.lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lightbox span p {
    text-align: center;
    position: relative;
    top: 70vh;
    font-size: 20px;
}

/* confirm order */

.order-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-items .order-card {
    display: flex;
    background-color: #3333335d;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.order-items .order-card .card-image {
    flex: 1.5;
    overflow: hidden;
}

.order-items .order-card .card-image img {
    width: 100%;
    height: 100%;
}

.order-items .order-card .card-details {
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-items .order-card .card-details .item-price {
    font-size: 22px;
}

.order-items .order-card .card-details p {
    color: #333;
}

.button-confirm {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 15px 0;
    font-size: 22px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
